// aplicando sass

@import "utilities/variables";

body{
    background-image: url('../img/fondo.azul.jpg');
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    width: 100%;
    .titulo{
        color: white;
        text-align: center;
        padding: 5px;
        width: 100%;
        height: 100%;
        font-family: 'Permanent Marker', cursive;
        font-size: 70px;
    }
}

header{
    .colorNav{
        background-color: rgb(214, 207, 207);
        .logoBarra{
            max-width: 90px;
            height: 90px; 
        }
    }
}

main{
    .segundoTitulo{
        color: #ECF0F1;
        text-align: center;
        padding: 10px;
    }
    div{
        .imagen{
            border: 2px solid green;
        }
    }
}

.recuadro, .recuadroUno, .recuadroDos{
    padding: 2px;
    margin: 1px;
    @extend %borde;
    margin-top: 5px;
    width: auto;
    .subtituloUno{
        color: green;
        margin: 5px;
        padding: 5px;
        @extend %borde;
        text-align: center;
        font-family: 'Bungee' cursive;
    }
}

.imagen{
    width: 100%;
}


.colorParrafo{
    color: rgb(247, 240, 240) ;
    text-decoration: double;
    margin: 5px;
    padding: 2px;
}

.mainPrincipal{
    @include grid;
}

.mainTitulo{
    grid-area: mainTitulo;
}
.recuadro{
    grid-area: recuadro;
    width: 100%;
}

.recuadroUno{
    grid-area: recuadroUno;
    width: 100%;
}

.recuadroDos{
    grid-area: recuadroDos;
    width: 100%;
}

.multimediaUno{
    grid-area: imagen1;
    align-self: center;
}
.multimediaDos{
    grid-area: imagen2;
    align-self: center;
}

.multimediaTres{
        grid-area: imagen3;
        align-self: center;
}

footer{
    grid-area: footer;
    align-self: center;
}

footer{
    background-color: rgb(38, 102, 57);
    border: 5px solid black;
    color: black;
    margin: 10px;
    padding: 5px;
    text-align: center;
    position: relative;
    .footerLogos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        .logoRedes{
            height: 50px;
            width: 50px;
        }
    }
}

.logoRedes:hover{
    transform: scale(1.1);
    .logoRedes{
        transition: 1.5s;
    }

}

// media query

@media only screen and (max-width:768px){

    .mainPrincipal{
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.3fr 0.3fr auto auto;
        grid-template-areas: "titulo titulo"
                             "recuadro recuadroUno"
                             "imagen1 imagen2"
                             "footer footer";                      
        justify-content: center;
        row-gap: 3rem;            
    
    }

.mainTitulo{
    display: block;
}

h1{
    display: none;
}

.recuadroDos{
    display: none;
}

.multimediaTres{
    display: none;
}

.mainTitulo{
    grid-area: titulo;
}

.recuadro{
    grid-area: recuadro;
    font-size: 1rem;
    

}

.recuadroUno{
    grid-area: recuadroUno;
    
}

.multimediaUno{
    grid-area: imagen1;
    width: auto;
    
}

.multimediaDos{
    grid-area: imagen2;
    width: auto;
    
}

footer{
    grid-area: footer;
}
}


@media only screen and (max-width:480px){
    .mainPrincipal{
        height: 100%;
        width: auto;
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr auto;
        grid-template-areas: "titulo"
                             "imagen1"
                             "imagen2"
                             "imagen3"
                              "footer";                      
        justify-content: center;
        row-gap: 3rem;
        
    }

.multimediaTres, .mainTitulo{
    display: block;
}    

.titulo, .recuadro, .recuadroUno, .recuadroDos{
    display: none;
}

.mainTitulo{
    grid-area: titulo;
    justify-content: center;
}

.multimediaUno{
    grid-area: imagen1;
}

.multimediaDos{
    grid-area: imagen2;
}

.multimediaTres{
    grid-area: imagen3;
}

footer{
    grid-area: footer;
}

}


/* NOSOTROS */

.quienSoy{
    width: auto;
    margin: 5px;
    padding: 5px;
    background-color: black;
    @extend %borde;
    text-align: center;
    color: green;
}
.nosotros{
    @extend %borde;
    color: rgb(247, 240, 240);
    margin: 10px;
    padding: 10px;
    width: auto;
}

.profeFabri {
    border: $borde-texto;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

.profeFabri:hover{
    transform: scale(0.9);
}
.profeFabri{
    transition: 1.5s;
}

.mainNosotros{
    height: 100%;
    width: auto;
    display: grid;
    margin: 5px;
    grid-template-areas: "titulo titulo titulo"
                        "parrafo parrafo parrafo"
                        "imagen1 imagen2 imagen3"
                        "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    justify-content: center;
    row-gap: 2rem;                              
                        
}

h2{
    display: none;
}

.quienSoy{
    grid-area: titulo;
}

.nosotros{
    grid-area: parrafo;
    
}

.imagenUno{
    grid-area: imagen1;
}

.imagenDos{
    grid-area: imagen2;
}

.imagenTres{
    grid-area: imagen3;
}

footer{
    grid-area: footer;
}


@media only screen and (max-width:768px){

.mainNosotros{
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.3fr 0.3fr;
    grid-template-areas: "quienSoy quienSoy"
                        "imagen1 imagen2"
                        "footer footer";
    justify-content: center;
    row-gap: 3rem;   
}                


h2, .nosotros, .imagenTres{
    display: none;
}

.quienSoy{
    grid-area: quienSoy;
}

.imagenUno{
    grid-area: imagen1;
}

.imagenDos{
    grid-area: imagen2;
}

footer{
    grid-area: footer;
}
}

 /* FRODI TIPS */


 .primerTips, .segundoTips, .tercerTips{
    padding: 2px;
    margin: 1px;
    @extend %borde;
    margin-top: 5px;
    .tituloTipsUno, .tituloTipsDos, .tituloTipsTres{
        color: green;
        margin: 5px;
        padding: 5px;
        @extend %borde;
        text-align: center;
        font-family: 'Bungee' cursive;
    }
}

.tituloTips{
        color: #ECF0F1;
        text-align: center;
        padding: 10px;
}

.tipsUno, .tipsDos, .tipsTres{
    color: rgb(247, 240, 240) ;
    text-decoration: double;
    margin: 5px;
    padding: 2px;
    width: 100%;
}

.imagenTipsUno, .imagenTipsDos, .imagenTipsTres{
    width: 100%;

}


.mainTips{
    @include tips;           
    }
      
.tituloTips{
    grid-area: mainTitulo;
}    

.primerTips{
    grid-area: recuadro;
}    

.segundoTips{
    grid-area: recuadroUno;
}    
.tercerTips{
    grid-area: recuadroDos;
}


.imagenTipsUno{
    grid-area: imagen1;
    align-self: center;
}

.imagenTipsDos{
    grid-area: imagen2;
    align-self: center;
}

.imagenTipsTres{
    grid-area: imagen3;
    align-self: center;
}

@media only screen and (max-width:768px){
    .mainTips{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "imagen1"
                            "imagen2"
                            "imagen3"
                            "footer";
        justify-content: center;
        row-gap: 1rem;                    
    }

h2, .primerTips, .segundoTips, .tercerTips{
    display: none;
}    

.imagenTipsUno{
    grid-area: imagen1;
}

.imagenTipsDos{
    grid-area: imagen2;
}

.imagenTipsTres{
    grid-area: imagen3;
}

footer{
    grid-area: footer;
}
}


 /* CONTACTO */

 .textoContacto{
     padding: 5px;
     margin: 10px;
     border: $borde-texto;
     color: rgb(247, 240, 240);
 }

 .contacto{
     margin: 10px;
     padding: 5px;
     border: $borde-texto;
     color: rgb(231, 223, 221);
 }

 .formulario div{
     margin: 5px;
     padding: 5px;
 }

 form{
     border: none;
 }
