$borde-texto: 3px solid green;


@mixin grid {
    height: 100vh;
    width: auto;
    display: grid;
    margin: 50px;
    grid-template-areas: "mainTitulo mainTitulo mainTitulo"
                        "recuadro recuadroUno recuadroDos"
                        "imagen1 imagen2 imagen3"
                        "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: center;
    row-gap: 2rem;
}

@mixin tips {
    height: 100%;
    display: grid;
    margin: 50px;
    grid-template-areas: "mainTitulo mainTitulo mainTitulo"
                        "imagen1 imagen2 imagen3"
                        "recuadro recuadroUno recuadroDos";
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    row-gap: 3rem;
}

%borde{
    border: 4px solid green;
    border-radius: 10px;
    background-color: black;
}
